

h1 {
            font-size: 250%;
        }

        h2 {
            font-size: 200%;
        }

        p {
            font-size: 100%;
        }

        .serif {
            font-family: "Times New Roman", Times, serif;
        }

        .sansserif {
            font-family: Arial, Helvetica, sans-serif;
        }

        .monospace {
            font-family: "Lucida Console", Courier, monospace;
        }

        #defaultFont {
            font-family: Conv_Optician-Sans;

        }

        textarea {
          width: 40%;
          height: 200px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          background-color: #f8f8f8;
          font-size: 16px;
          resize: none;
        }

        .center {
          text-align: center;
          border: 1px solid;
        }

        .center2 {
          text-align: center;
        }

        .left {
          text-align: left;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        div.a {
          position: absolute;
          right: 0;
        }

        .grid-container {
          display: grid;
          height: auto;
          grid-template-columns: auto auto;
          grid-gap: 10px;
          padding: 10px;
        }

        .grid-container > div {
          padding: 20px 0;
        }

        p {
            font-size: 20px;
        }
        select option{
            font-size: 16px;
        }
        select {
            width: 160px;
            height: 30px;
            font-size: 16px;
        }

        .contact-form{
          background-color: #FFFFFF;
        }