<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Calculator...</h1>
<br>
<div>Input your distance</div>
<input type="number" id="distance">
<button onclick="myFunction()">Try it</button>
<br>
<br>
<h2 id="result"></h2>
<script>
    function myFunction() {
        var x = document.getElementById("distance").value;
        var y = 1/60;
        var z = Math.tan(y * Math.PI/180);
       var mm = (z * Math.pow(10,3))* x;
       var result = mm * 5;
        document.getElementById("result").innerHTML = result.toFixed(1);
    }
</script>
</body>

</html>