<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Examination Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/testingPage.css">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/selectionInput.css">
    <script type="text/javascript" src="js/examination.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>
<body onload="page_ExamResult_onload()">
<br>
<form id="" style="text-align: center" th:action="@{/examinationResult/save}" th:object="${examinationResult}" method="post" modelAttribute="examinationResult" commandName="examinationResult">
    <h1 style="text-align: center; color: black; margin-top: 100px;">ผลการตรวจสายตา</h1>
<!--    <h1 style="text-align: center; color: black; margin-top: 40px;">VA</h1>-->
    <div class="row" style="margin: 20em; margin-top: 100px; margin-bottom: 100px">
<!--        <div class="col-md-4">-->
<!--            <div class="container" style="text-align: center">-->
<!--                <h1 style="text-align: center; color: black; font-size: 50px">VA</h1>-->
<!--                <a class="" style="font-size: 24px" onclick="">Result</a><br>-->
<!--                <input class="" style="font-size: 24px" onclick="" th:field="*{va}" value="24/60 -1">24/60 -1</input>-->
<!--                <div th:if="${#fields.hasErrors('va')}" th:errors="*{va}">errors</div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="col-md-6">
            <div class="container" style="text-align: center">
                <h1 style="text-align: center; color: black; font-size: 40px">RE</h1>
                <a class="" style="font-size: 20px">Result</a><br>
                <a class="" style="font-size: 24px" id="show_RE" value=""></a>
                <input class="" style="font-size: 24px" id="RE_s_acuity" th:field="*{re}" value="" hidden>
                <div th:if="${#fields.hasErrors('re')}" th:errors="*{re}">errors</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container" style="text-align: center">
                <h1 style="text-align: center; color: black; font-size: 40px">LE</h1>
                <a class="" style="font-size: 20px">Result</a><br>
                <a class="" style="font-size: 24px" id="show_LE" value=""></a>
                <input class="" style="font-size: 24px" id="LE_s_acuity" th:field="*{le}" value="" hidden>
                <div th:if="${#fields.hasErrors('le')}" th:errors="*{le}">errors</div>
            </div>
        </div>
    </div>
    <button href="#" class="btn btn-primary" type="submit" onclick="" id="save-examination">Save Result</button>
    <button href="#" class="btn btn-secondary" onclick="">Print Result</button><br><br>
    <a href="/font2" class="btn btn-secondary" onclick="">Back to setting</a>
</form>
</body>
<script th:inline="javascript">
    function ShowData() {
        var s_wrong = /*[[${s_wrong}]]*/ 'default';
        var s_acuity = /*[[${s_acuity}]]*/ 'default'; //text=69lenght
        console.log("load data success")
        document.getElementById('RE_s_acuity').value = s_acuity + " " + s_wrong;
        document.getElementById('show_RE').innerHTML = s_acuity + " " + s_wrong;
    }
    /*]]>*/
</script>
</html>