<!DOCTYPE html>
<html lang="en">
<head>
    <title>Examination Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/testingPage.css">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/selectionInput.css">
    <script type="text/javascript" src="js/examination.js"></script>

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>
<body>
<br>
<form action="" id="" style="text-align: center">
    <h1 style="text-align: center; color: black; margin-top: 100px;">ผลการตรวจสายตา</h1>
    <div class="row" style="margin: 20em; margin-top: 100px; margin-bottom: 100px">
        <div class="col-md-4">
            <div class="container" style="text-align: center">
                <h1 style="text-align: center; color: black; font-size: 50px">VA</h1>
                <a class="" style="font-size: 24px" onclick="">Result</a>
                <a class="" style="font-size: 24px" onclick="">24/60 - 1</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container" style="text-align: center">
                <h1 style="text-align: center; color: black; font-size: 50px">RE</h1>
                <a class="" style="font-size: 24px" onclick="">Result</a>
                <a class="" style="font-size: 24px" onclick="">36/60 - 2</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container" style="text-align: center">
                <h1 style="text-align: center; color: black; font-size: 50px">LE</h1>
                <a class="" style="font-size: 24px" onclick="">Result</a>
                <a class="" style="font-size: 24px" onclick="">42/60 - 3</a>
            </div>
        </div>
    </div>
    <button href="#" class="btn btn-primary" onclick="">Save Result</button>
    <button href="#" class="btn btn-secondary" onclick="">Print Result</button>
</form>
</body>
</html>