<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Examination Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/testingPage.css">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/selectionInput.css">
    <script type="text/javascript" src="js/examination.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style type="text/css">

        #printableArea { display: block; }

        @media print
        {
            #non-printableArea { display: none; }
            #printableArea { display: block; }
            /*body * { visibility: hidden; }*/
            #printableArea * { visibility: visible; }
            #printableArea {
                position: center;
                top: 10px;
                left: 30px;
            }
            #printable{
                 display:flex;
                 justify-content:center;
                 align-items:center;
                 height:20%;
             }
            html, body{
                height:100%;
                width:100%;
            }
            @page{
                size: 57mm 60mm;
            }
            @page:left {
                margin-left: 20mm;
                margin-right: 30mm;
            }
        }
    </style>

</head>
<body onload="page_ExamResult_onload()">
<form id="" style="text-align: center" th:action="@{/examinationResult/save}" th:object="${examinationResult}" method="post" modelAttribute="examinationResult" commandName="examinationResult">
    <h1 style="text-align: center; color: black; margin-top: 100px;">ผลการตรวจวัดสายตา</h1>
    <!--    <h1 style="text-align: center; color: black; margin-top: 40px;">VA</h1>-->
    <br><br>
    <div class="row" style="margin: 20em; margin-top: 100px; margin-bottom: 100px">
        <!--        <div class="col-md-4">-->
        <!--            <div class="container" style="text-align: center">-->
        <!--                <h1 style="text-align: center; color: black; font-size: 50px">VA</h1>-->
        <!--                <a class="" style="font-size: 24px" onclick="">Result</a><br>-->
        <!--                <input class="" style="font-size: 24px" onclick="" th:field="*{va}" value="24/60 -1">24/60 -1</input>-->
        <!--                <div th:if="${#fields.hasErrors('va')}" th:errors="*{va}">errors</div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="col-md-3">
            <div class="container" style="text-align: center">
                <div class="card" style="width:70%; height:100%;">
                    <h1 style="text-align: center; color: black; font-size: 40px">RE</h1>
                    <a class="" style="font-size: 20px">Result</a><br>
                    <label style="font-size: 25px"></label><a class="" style="font-size: 24px" id="show_RE" value=""></a>
                    <input class="" style="font-size: 24px" id="RE_s_acuity" th:field="*{re}" value="" hidden >
                    <div th:if="${#fields.hasErrors('re')}" th:errors="*{re}">errors</div>
                    <br>
<!--                    <label style="font-size: 25px; text-transform: capitalize"></label><a class="" style="font-size: 24px" id="show_RE_pin" value=""></a>-->
<!--                    <input class="" style="font-size: 24px" id="RE_s_pin_acuity" th:field="*{re}" value="" hidden>-->
<!--                    <div th:if="${#fields.hasErrors('re')}" th:errors="*{re}">errors</div>-->
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="container" style="text-align: center">
                <div class="card" style="width:70%; height:100%;">
                    <h1 style="text-align: center; color: black; font-size: 40px">REph</h1>
                    <a class="" style="font-size: 20px">Result</a><br>
                    <a class="" style="font-size: 24px" id="show_REph" value=""></a>
                    <label style="font-size: 25px; text-transform: capitalize"></label><a class="" style="font-size: 24px" id="show_RE_pin" value=""></a>
                    <input class="" style="font-size: 24px" id="RE_s_pin_acuity" th:field="*{rePh}" value="" hidden>
                    <div th:if="${#fields.hasErrors('rePh')}" th:errors="*{rePh}">errors</div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" style="text-align: center">
                <div class="card" style="width:70%; height:100%;">
                    <h1 style="text-align: center; color: black; font-size: 40px">LE</h1>
                    <a class="" style="font-size: 20px">Result</a><br>
                    <label style="font-size: 25px"></label><a class="" style="font-size: 24px" id="show_LE" value=""></a>
                    <input class="" style="font-size: 24px" id="LE_s_acuity" th:field="*{le}" value="" hidden>
                    <div th:if="${#fields.hasErrors('le')}" th:errors="*{le}">errors</div>
                    <br>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" style="text-align: center">
                <div class="card" style="width:70%; height:100%;">
                    <h1 style="text-align: center; color: black; font-size: 40px">LEph</h1>
                    <a class="" style="font-size: 20px">Result</a><br>
                    <a class="" style="font-size: 24px" id="show_LEph" value=""></a>
                    <label style="font-size: 25px"></label><a class="" style="font-size: 24px" id="show_LE_pin" value=""></a>
                    <input class="" style="font-size: 24px" id="LE_s_pin_acuity" th:field="*{lePh}" value="" hidden>
                    <div th:if="${#fields.hasErrors('lePh')}" th:errors="*{lePh}">errors</div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!--    <input type="image" src="images/PngItem.png" alt="Submit" width="100" height="100" id="save-examination">-->
    <!--    <input type="image" src="images/clipart.png" alt="Submit" width="100" height="100">-->
    <div id="printable" hidden>
        <h1 style="color: #000000 ; font-size: 8mm;margin-left: 4% ; margin-top: 2%">Visual acuity results</h1>
        <br>
        <table border="1" style="width: 25% ; margin-left: 4% ;color: #000000 ">
            <tr style="text-align: center;font-size: 5mm">
                <td>RE</td>
                <td id="print_RE"></td>
            </tr>
            <tr style="text-align: center;font-size: 5mm">
                <td>REph</td>
                <td id="print_pin_RE"></td>
            </tr>
            <tr style="text-align: center;font-size: 5mm">
                <td>LE</td>
                <td id="print_LE"></td>
            </tr>
            <tr style="text-align: center;font-size: 5mm">
                <td>LEph</td>
                <td id="print_pin_LE"></td>
            </tr>
        </table>
    </div>

    <label style="font-size: 18px"> เลขประจำตัวผู้ป่วย :&nbsp; </label>
    <input type="text" id="HN" onchange="" style="height:30px; font-size:20pt; width:200px;" th:field="*{HN}" required>
    <div th:if="${#fields.hasErrors('HN')}" th:errors="*{HN}">errors</div>
    <br> <br>
    <button href="#" class="btn btn-primary" type="submit" onclick="saveResult()" id="save-examination">Save Result</button>
    <button  class="btn btn-secondary" onclick="sendAjaxToPrint('printable')">Print Result</button><br><br>
    <a href="/font3" class="btn btn-secondary" onclick="">Back </a>

</form>
</body>
<script th:inline="javascript">

function saveResult() {
  alert("บันทึกผลการทดสอบ เสร็จสิ้น");
}
function sendAjaxToPrint(divName){
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;

    document.body.innerHTML = printContents;

    window.print();

    document.body.innerHTML = originalContents;
    // $.ajax({
    //     url:"printer",
    //     success: function(){
    //
    //         console.log("send success");
    //
    //         return false;
    //     }
    //
    // });
    // show_modal()
}

    function ShowData() {
        var s_wrong = /*[[${s_wrong}]]*/ 'default';
        var s_acuity = /*[[${s_acuity}]]*/ 'default'; //text=69lenght
        var right_s_wrong = /*[[${right_s_wrong}]]*/ 'default';
        var right_s_acuity = /*[[${right_s_acuity}]]*/ 'default'; //text=69lenght
        var right_pin_s_wrong = /*[[${right_pin_s_wrong}]]*/ 'default';
        var right_pin_s_acuity = /*[[${right_pin_s_acuity}]]*/ 'default';

        var left_s_wrong = /*[[${left_s_wrong}]]*/ 'default';
        var left_s_acuity = /*[[${left_s_acuity}]]*/ 'default'; //text=69lenght
        var left_pin_s_wrong = /*[[${left_pin_s_wrong}]]*/ 'default';
        var left_pin_s_acuity = /*[[${left_pin_s_acuity}]]*/ 'default';
        console.log("load data success")

        if (!right_s_wrong && !right_s_acuity ){
            document.getElementById('show_RE').innerHTML = " ";
            document.getElementById('RE_s_acuity').value = " ";
            document.getElementById('print_RE').innerHTML = " ";
        }else{
            document.getElementById('show_RE').innerHTML = right_s_acuity + " " + right_s_wrong;
            document.getElementById('RE_s_acuity').value = right_s_acuity + " " + right_s_wrong;
            document.getElementById('print_RE').innerHTML = right_s_acuity + " " + right_s_wrong;
        }

        if (!right_pin_s_wrong && !right_pin_s_acuity ){
            document.getElementById('show_RE_pin').innerHTML = " ";
            document.getElementById('RE_s_pin_acuity').value = " ";
            document.getElementById('print_pin_RE').innerHTML = " ";
        }else{
            var split_right_s_acuity = right_s_acuity.split("/");
            var split_right_pin_s_acuity = right_pin_s_acuity.split("/");
            var num_right_s_acuity = parseInt(split_right_s_acuity[1]) ;
            var num_right_pin_s_acuity = parseInt(split_right_pin_s_acuity[1]) ;
            if (num_right_pin_s_acuity < num_right_s_acuity){
                document.getElementById('show_RE_pin').innerHTML = right_pin_s_acuity + " "  +right_pin_s_wrong;
                document.getElementById('RE_s_pin_acuity').value = right_pin_s_acuity + " "  +right_pin_s_wrong;
                document.getElementById('print_pin_RE').innerHTML = right_pin_s_acuity + " "  +right_pin_s_wrong;
            }
            else{
                if (right_pin_s_wrong == "-1" || right_pin_s_wrong == "-2"){
                    document.getElementById('show_RE_pin').innerHTML = right_pin_s_acuity + " "  +right_pin_s_wrong;
                    document.getElementById('RE_s_pin_acuity').value = right_pin_s_acuity + " "  +right_pin_s_wrong;
                    document.getElementById('print_pin_RE').innerHTML = right_pin_s_acuity + " "  +right_pin_s_wrong;
                }else{
                    document.getElementById('show_RE_pin').innerHTML = "Not Improved";
                    document.getElementById('RE_s_pin_acuity').value = "Not Improved";
                    document.getElementById('print_pin_RE').innerHTML = "Not Improved";
                }
            }
        }

        if (!left_pin_s_wrong && !left_s_acuity ){
            document.getElementById('show_LE').innerHTML = " ";
            document.getElementById('LE_s_acuity').value = " ";
            document.getElementById('print_LE').innerHTML = " ";
        }else{
            document.getElementById('show_LE').innerHTML = left_s_acuity + " " + left_s_wrong;
            document.getElementById('LE_s_acuity').value = left_s_acuity + " " + left_s_wrong;
            document.getElementById('print_LE').innerHTML = left_s_acuity + " " + left_s_wrong;
        }

        if (!left_pin_s_wrong && !left_pin_s_acuity){
            document.getElementById('show_LE_pin').innerHTML = " ";
            document.getElementById('LE_s_pin_acuity').value = " ";
            document.getElementById('print_pin_LE').innerHTML = " ";
        }else{
            var split_left_s_acuity = left_s_acuity.split("/");
            var split_left_pin_s_acuity = left_pin_s_acuity.split("/");
            var num_left_s_acuity = parseInt(split_left_s_acuity[1]) ;
            var num_left_pin_s_acuity = parseInt(split_left_pin_s_acuity[1]) ;
            if (num_left_pin_s_acuity < num_left_s_acuity){
                document.getElementById('show_LE_pin').innerHTML = left_pin_s_acuity + " "  +  left_pin_s_wrong;
                document.getElementById('LE_s_pin_acuity').value = left_pin_s_acuity + " "  +  left_pin_s_wrong;
                document.getElementById('print_pin_LE').innerHTML = left_pin_s_acuity + " "  +  left_pin_s_wrong;
            }else{
                if (left_pin_s_wrong == "-1" || left_pin_s_wrong == "-2"){
                    document.getElementById('show_LE_pin').innerHTML = left_pin_s_acuity + " "  +  left_pin_s_wrong;
                    document.getElementById('LE_s_pin_acuity').value = left_pin_s_acuity + " "  +  left_pin_s_wrong;
                    document.getElementById('print_pin_LE').innerHTML = left_pin_s_acuity + " "  +  left_pin_s_wrong;
                }else{
                    document.getElementById('show_LE_pin').innerHTML = "Not Improved";
                    document.getElementById('LE_s_pin_acuity').value = "Not Improved";
                    document.getElementById('print_pin_LE').innerHTML = "Not Improved";
                }
            }
        }
    }
    /*]]>*/
</script>
</html>