<!DOCTYPE HTML>
<html>
<head>
    <title>Show preview font</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
        h1 {
            font-size: 250%;
        }

        h2 {
            font-size: 200%;
        }

        p {
            font-size: 100%;
        }

        .serif {
            font-family: "Times New Roman", Times, serif;
        }

        .sansserif {
            font-family: Arial, Helvetica, sans-serif;
        }

        .monospace {
            font-family: "Lucida Console", Courier, monospace;
        }

        div {
            font-family: Conv_Optician-Sans;

        }

        textarea {
          width: 150%;
          height: 200px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          background-color: #f8f8f8;
          font-size: 16px;
          resize: none;
        }

        .center {
          text-align: center;
          border: 1px solid;
        }

        .center2 {
          text-align: center;
        }

        .left {
          text-align: left;
        }

        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Visual Acuity Measurement System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<h1>Font Optician-Sans </h1>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" style="text-align: center">
            <div class="left">
            <p>Font Type</p>
                <select onchange="myFunction(this);">
                    <option value="Georgia">Georgia</option>
                    <option value="Palatino Linotype">Palatino Linotype</option>
                    <option value="Book Antiqua">Book Antiqua</option>
                    <option value="Times New Roman">Times New Roman</option>
                    <option value="Arial">Arial</option>
                    <option value="Helvetica">Helvetica</option>
                    <option value="Arial Black">Arial Black</option>
                    <option value="Impact">Impact</option>
                    <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
                    <option value="Tahoma">Tahoma</option>
                    <option value="Verdana">Verdana</option>
                    <option value="Courier New">Courier New</option>
                    <option value="Lucida Console">Lucida Console</option>
                    <option value="Conv_Optician-Sans">Conv_Optician-Sans</option>
                </select>
            <p>Font Size</p>
                <select onchange="myPx(this);">
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="26">26</option>
                    <option value="28">28</option>
                    <option value="30">30</option>
                    <option value="32">32</option>
                    <option value="34">34</option>
                    <option value="36">36</option>
                    <option value="38">38</option>
                    <option value="40">40</option>
                    <option value="42">42</option>
                </select>
                <p>Distance</p>
                <select onchange="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                </select>
            </div>
            <br> <br>
                <div class="row">
                    <div class="col-sm-8" >
                    <form>
                        <textarea id="text" placeholder="Input font for testing...."></textarea>
                    </form>
                </div>
            </div>
            <button id="button3" onclick ="" class="btn btn-success">Confirm</button>
            <button id="button1" onclick ="random()" class="btn btn-primary">Random Character</button>
            <button id="button2" onclick ="" class="btn btn-default">Set Default</button>
        </div>
        <div class="col-sm-8">
            <div class="center">
                <div style="font-size: 250%" id="demo" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>
                <div style="font-size: 250%" id="demo2" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>
                <div style="font-size: 250%" id="demo3" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>
                <div style="font-size: 250%" id="demo4" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>
                <div style="font-size: 250%" id="demo5" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>
            </div>
            <div class="center2">
                <p style="font-size: 150%" id="preview" value="">Preview</p><br>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction(selectTag) {
        var listValue = selectTag.options[selectTag.selectedIndex].text;
        document.getElementById("demo").style.fontFamily = listValue;
        document.getElementById("demo2").style.fontFamily = listValue;
        document.getElementById("demo3").style.fontFamily = listValue;
        document.getElementById("demo4").style.fontFamily = listValue;
        document.getElementById("demo5").style.fontFamily = listValue;
    }

    function myPx(selectTag) {
        var listValue = selectTag.options[selectTag.selectedIndex].text;
        var listSizeNumber = parseInt(listValue);
        document.getElementById("demo").style.fontSize = listSizeNumber + "px";
        document.getElementById("demo2").style.fontSize = listSizeNumber + "px";
        document.getElementById("demo3").style.fontSize = listSizeNumber + "px";
        document.getElementById("demo4").style.fontSize = listSizeNumber + "px";
        document.getElementById("demo5").style.fontSize = listSizeNumber + "px";
    }

    function random(buttonTag) {
        var result           = '';
        var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var r = ''
        var r2 = ''
        var r3 = ''
        var r4 = ''
        var r5 = ''
        var charactersLength = characters.length;
        for ( var i = 0; i < 5; i++ ) {

            var randomNumber = Math.floor(Math.random() *(27-1) + 1);
            result = characters.charAt(randomNumber);
            r = r + result + " ";

            var randomNumber2 = Math.floor(Math.random() *(27-1) + 1);
            result = characters.charAt(randomNumber2);
            r2 = r2 + result + " ";

            var randomNumber3 = Math.floor(Math.random() *(27-1) + 1);
            result = characters.charAt(randomNumber3);
            r3 = r3 + result + " ";

            var randomNumber4 = Math.floor(Math.random() *(27-1) + 1);
            result = characters.charAt(randomNumber4);
            r4 = r4 + result + " ";

            var randomNumber5 = Math.floor(Math.random() *(27-1) + 1);
            result = characters.charAt(randomNumber5);
            r5 = r5 + result + " ";
        }
        document.getElementById('demo').innerHTML = r;
        document.getElementById('demo2').innerHTML = r2;
        document.getElementById('demo3').innerHTML = r3;
        document.getElementById('demo4').innerHTML = r4;
        document.getElementById('demo5').innerHTML = r5;
        return r,r2,r3,r4,r5;
    }
</script>



</body>
</html>
