<!DOCTYPE HTML>
<html>
<head>
    <title>Show preview font</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/testingPage.css">

</head>
<body>
    <div class="center">
        <div style="font-size: 620%" id="demo" value="">A B C D E</div><br>
    </div>
    </div>
</div>

<script>

</script>

</body>
</html>
