<!DOCTYPE HTML>


<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/manageFont.js"></script>


</head>

<body>
    <h1>Font Optician-Sans </h1>
    <div>
        <button id="storeName" onclick="tester">hiiiiiiiiiii</button>
    </div>


</body>
<script>

</script>

</html>