<!DOCTYPE HTML>
<html>
<head>
    <title>Show preview font</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="css/manageFont.css">
    <link rel="stylesheet" href="css/button.css">
    <script type="text/javascript" src="js/manageFont.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
<ul>
    <li><a class="#home" href="/home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>
<div class="grid-container">
    <div class="item1">
        <div class="row">
            <div class="container-fluid">
                <button class="big-button" id="big-button1" onclick="change1()">Manage Font</button>
                <button class="big-button" id="big-button2" onclick="change2()">Random</button>
                <button class="big-button" id="big-button3" onclick="change3()">Import</button>
                <br><br>
                <div id="all">
                    <p style="color:black;">Font Type</p>
                    <select onchange="myFunction(this);">
                        <option value="Georgia">Georgia</option>
                        <option value="Palatino Linotype">Palatino Linotype</option>
                        <option value="Book Antiqua">Book Antiqua</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Arial">Arial</option>
                        <option value="Helvetica">Helvetica</option>
                        <option value="Arial Black">Arial Black</option>
                        <option value="Impact">Impact</option>
                        <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
                        <option value="Tahoma">Tahoma</option>
                        <option value="Verdana">Verdana</option>
                        <option value="Courier New">Courier New</option>
                        <option value="Lucida Console">Lucida Console</option>
                        <option value="Conv_Optician-Sans" selected="selected">Conv_Optician-Sans</option>
                    </select>
                    <br>
                    <p style="color:black;">Font Size</p>
                    <select onchange="myPx(this);">
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                        <option value="22">22</option>
                        <option value="26">26</option>
                        <option value="28">28</option>
                        <option value="30">30</option>
                        <option value="32">32</option>
                        <option value="34">34</option>
                        <option value="36">36</option>
                        <option value="38">38</option>
                        <option value="40">40</option>
                        <option value="42">42</option>
                        <option value="46">46</option>
                        <option value="50">50</option>
                        <option value="52">52</option>
                        <option value="56">56</option>
                        <option value="60">60</option>
                        <option value="62">62</option>
                    </select>
                    <br>
                    <p style="color:black;">Distance</p>
                    <select onchange="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                    </select>
                    <br><br>
                    <p style="color:black;">Input Font</p>
                    <textarea placeholder="Input font for testing....." rows="5" id="textarea1" onchange="showTextArea()"></textarea>
                    <br>

                    <button id="button2" onclick="" class="btn btn-primary">Confirm</button>
                    <br>
                    <button id="button3" onclick="" class="btn btn-success">Set Default</button>
                    <br>

                </div>
                <div id="random-button" style="display: none">
                    <button id="button4" onclick="random()" class="btn btn-light">Random Text</button>
                    <br>
                    <button id="button5" onclick="randomNumber()" class="btn btn-light">Random Number</button>
                    <br>
                </div>
                <div id="import-button" style="display: none">
                    <form action="">
                        <label for="myfile">Select files:</label>
                        <input type="file" id="myfile" name="myfile" multiple><br><br>
                        <button id="button6" onclick="" class="btn btn-light">Import</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="item2">
        <div class="center">
            <div style="font-size: 250%" id="demo1" value="">A B C D F</div>
            <br>
            <div style="font-size: 250%" id="demo2" value="">G H I J K</div>
            <br>
            <div style="font-size: 250%" id="demo3" value="">L M N O P</div>
            <br>
            <div style="font-size: 250%" id="demo4" value="">Q R S T U</div>
            <br>
            <div style="font-size: 250%" id="demo5" value="">V W X Y Z</div>
            <br>
            <div style="font-size: 250%" id="demo6" value="">V W X Y Z</div>
            <br>
            <div style="font-size: 250%" id="demo7" value="">V W X Y Z</div>
<!--            <br>-->
<!--            <div style="font-size: 250%" id="demo8" value="">V W X Y Z</div>-->
<!--            <br>-->
<!--            <div style="font-size: 250%" id="demo9" value="">V W X Y Z</div>-->
<!--            <br>-->
<!--            <div style="font-size: 250%" id="demo10" value="">V W X Y Z</div>-->
        </div>

        <div class="center2">
            <p style="font-size: 100%" id="preview" value="">Preview</p><br>

        <div class="col-sm-8" >
            <div style="font-size: 100%" id="demo" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>
<!--            <div style="font-size: 42px" id="" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>-->
<!--            <div style="font-size: 250%" id="demo3" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>-->
<!--            <div style="font-size: 250%" id="demo4" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>-->
<!--            <div style="font-size: 250%" id="demo5" value="">A B C D F G H I J K L M N O P Q R S T U V W X Y Z</div><br>-->

        </div>
    </div>
</div>

<br>

<div class="form-control">
    <label>ระยะห่าง : </label>
    <input type="text" id="distance" ><br><br>
    <button id="buttonDistance" onclick ="distance()" class="btn btn-primary">Random Character</button>
    <button id="next" onclick ="next()" class="btn btn-primary">Next</button>
    <button id="back" onclick ="back()" class="btn btn-primary">Back</button>
</div>
</div>
</body>
</html>
