<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/home.css">

</head>
<body>
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>
<div class="contact-form">
    <img alt="" class="avatar" src="https://i.postimg.cc/zDyt7KCv/a1.jpg">
    <h2>Visual Acuity Measurement System</h2>
    <form action="">
<!--        <p>Email</p><input placeholder="Enter Email" type="email">-->
<!--        <p>Passwrod</p><input placeholder="Enter Password" type="password">-->
<!--        <input type="submit" value="Get Start">-->
<!--        <p><input type="checkbox">Remember Me</p>-->
        <br><br><br><br><br>
        <h1><a href="/font2" style="font-size:30px">Get Start</a></h1>
        <br>
    </form>
</div>
</body>
</html>
