<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selection Input</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/selectionInput.css">
    <link rel="stylesheet" type="text/css" href="css/card.css">

</head>
<body>
<ul>
    <li><a class="" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>
<div class="contact-form">
    <h2>Visual Acuity Measurement System</h2>
    <br>
    <form action="">
        <div class="row">
            <div class="column">
                <img class="card-img-top" src="images/keyboard.png" alt="Card image cap">
                <div class="card-body">
                    <br>
                    <h5 class="card-title">ตอบด้วยคีย์บอร์ด</h5>
                    <a href="/font3" class="btn btn-primary">Select</a>
                </div>
            </div>

            <div class="column">
                <img class="card-img-top" src="images/icon-speak.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ตอบด้วยเสียง</h5>
                    <a href="/font3" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
